@charset "UTF-8";

/* #newstopic.list {
  background: none;
}

#newstopic h1 {
  text-align: center;
  padding-top: 30px;
}

@media screen and (max-width: 749px) {
  #newstopic h1 {
    width: 82.12%;
    margin: 0 auto;
  }
}

#newstopic .topics {
  padding: 30px 0;
  margin: 0 auto;
}

#newstopic .topics ul {
  display: flex;
  flex-wrap: wrap;
}

#newstopic .topics ul .box {
  width: 340px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  border: 6px solid #f6c6e3;
}

@media all and (min-width: 750px) and (max-width: 1120px) {
  #newstopic .topics ul .box {
    width: 31%;
  }
}

@media screen and (max-width: 749px) {
  #newstopic .topics ul .box {
    width: 49%;
    border-radius: 15px;
    border-width: 3px;
  }
}

#newstopic .topics ul .box:not(:nth-child(3n)) {
  margin-right: 20px;
}

#newstopic .topics ul .box:nth-child(n+4) {
  margin-top: 20px;
}

@media screen and (max-width: 749px) {
  #newstopic .topics ul .box:not(:nth-child(3n)) {
    margin-right: 0;
  }

  #newstopic .topics ul .box:not(:nth-child(2n)) {
    margin-right: 2%;
  }

  #newstopic .topics ul .box:nth-child(n+4) {
    margin-top: 0;
  }

  #newstopic .topics ul .box:nth-child(n+3) {
    margin-top: 10px;
  }
}

#newstopic .topics ul .box:firstchild,
#newstopic .topics ul .box:nth-child(3n+4) {
  border-color: #f6c6e3;
}

#newstopic .topics ul .box:nth-child(3n+2) {
  border-color: #e0cdff;
}

;

#newstopic .topics ul .box:nth-child(3n+3) {
  border-color: #c6ecec;
}

;

#newstopic .topics ul .box a {
  display: flex;
  flex-direction: column;
  outline: none;
  min-height: 480px;
}

#newstopic .topics ul .box a .pict {
  overflow: hidden;
  border-radius: 14px 14px 0 0;
  margin: 0;
  padding: 0;
  width: 100%;
  outline: none;
}

#newstopic .topics ul .box a .pict img {
  transition: .3s;
}

@media screen and (max-width: 749px) {
  #newstopic .topics ul .box a .pict {
    border-radius: 12px 12px 0 0;
  }
}

#newstopic .topics ul .box a:hover {
  text-decoration: none;
  color: #ccc;
}

#newstopic .topics ul .box a:hover .pict img {
  transform: scale(1.1);
}

@media screen and (max-width: 749px) {
  #newstopic .topics ul .box a:hover .pict img {
    transform: none;
  }
}

#newstopic .topics ul .box a .date {
  font-size: 1.6rem;
  padding: 10px;
  color: #999;
}

#newstopic .topics ul .box a .desc {
  flex-grow: 1;
  font-size: 1.8rem;
  padding: 0 10px 10px;
}

@media all and (min-width: 750px) and (max-width: 1120px) {
  #newstopic .topics ul .box a {
    min-height: auto;
  }
}

@media screen and (max-width: 749px) {
  #newstopic .topics ul .box a {
    min-height: auto;
  }

  #newstopic .topics ul .box a .date {
    font-size: 1.4rem;
  }

  #newstopic .topics ul .box a .desc {
    font-size: 1.4rem;
  }
} */

#feature-area .thumb-area {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 749px) {
  #feature-area .thumb-area {
    width: 90%;
  }
}

#feature-area .thumb-area .logo {
  padding-top: 10px;
}

#feature-area .thumb-area .thumb {
  position: relative;
  background-color: #fff;
  width: 440px;
  border: 2px solid #fff;
  padding: 0;
  font-size: 0;
  overflow: hidden !important;
}

@media all and (min-width: 750px) and (max-width: 1120px) {
  #feature-area .thumb-area .thumb {
    width: 39.29vw;
  }
}

@media screen and (max-width: 749px) {
  #feature-area .thumb-area .thumb {
    width: 100%;
  }

  #feature-area .thumb-area .thumb img:hover {
    transform: none;
  }
}

#feature-area .thumb-area .thumb img {
  transition: .3s;
}

#feature-area .thumb-area .thumb img:hover {
  transform: scale(1.1);
}

#feature-area .thumb-area .thumb::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  background: transparent;
  background-size: contain;
  pointer-events: none;
}

@media screen and (max-width: 749px) {
  #feature-area .thumb-area .thumb::after {
    width: 40px;
    height: 40px;
  }
}

#feature-area .bg-img img {
  width: 500px;
}

@media screen and (max-width: 749px) {
  #feature-area .bg-img img {
    width: 50%;
  }
}

#footer .banner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}