@charset "UTF-8";
/* projects */
/* for projects.html only */
.fa-color {
  color: #ffa3ac; }

#projects h1 {
  text-align: center;
  padding: 30px 0 60px; }
  @media screen and (max-width: 749px) {
    #projects h1 {
      width: 87.5%;
      margin: 0 auto;
      padding: 20px 0 30px; } }

#projects h2.heading .kaisei {
  letter-spacing: -0.15em; }

#projects h2.heading .date {
  font-size: 0.75em;
  font-family: "Noto Sans JP",sans-serif;
  font-weight: 500; }

@media screen and (max-width: 749px) {
  #comics h2.heading {
    font-size: 2rem; } }

.top_lead {
  background: linear-gradient(to bottom right, rgba(246, 224, 236, 0.7) 0%, rgba(224, 225, 246, 0.7) 50%, rgba(224, 236, 246, 0.7) 100%);
  border-radius: 15px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 15px;
  margin: 0 auto 30px; }
  .top_lead p {
    font-size: 2.2rem;
    color: #ffa3ac;
    font-weight: 700;
    line-height: 2.6rem; }
  @media screen and (max-width: 749px) {
    .top_lead {
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin: 0 auto 15px; }
      .top_lead p {
        font-size: 1.8rem;
        line-height: 2.2rem; } }

#arrival #new, #arrival #highlight {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px; }
  @media screen and (max-width: 749px) {
    #arrival #new, #arrival #highlight {
      flex-direction: column; /* Ensures one column layout */
      margin-bottom: 30px; } }

#arrival .box {
  width: 48.58%;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap; }
  #arrival .box:nth-child(2n+1) {
    margin-right: 2.84%; }
  #arrival .box:nth-child(n+3) {
    margin-top: 20px; }
  @media screen and (max-width: 749px) {
    #arrival .box {
      width: 100%; /* Ensure full width */
      margin-right: 0; }
    #arrival .box:nth-child(n+3) {
      margin-top: 0; }
    #arrival .box:nth-child(n+2) {
      margin-top: 20px; } }

.preview {
  border: 2px solid #f6e0ec;
  border-image: linear-gradient(to bottom right, #f6e0ec 0%, #e0e1f6 0%, #e0ecf6 100%);
  border-image-slice: 1; }
  #new .preview {
    width: 47.57%;
    margin-right: 3.88%; }
    @media screen and (max-width: 749px) {
      #new .preview {
        width: 100%; /* Full width on mobile */
        margin: 0 auto 10px; } }

  #highlight .preview {
    width: 36.89%;
    margin-right: 3.88%; }
    @media screen and (max-width: 749px) {
      #highlight .preview {
        width: 100%; /* Full width */
        margin-right: 0; } }

#new .detail {
  width: calc(100% - 51.45%); }
  @media screen and (max-width: 749px) {
    #new .detail {
      width: 100%; } }

#highlight .detail {
  width: calc(100% - 40.77%); }
  @media screen and (max-width: 749px) {
    #highlight .detail {
      width: 100%; } }

#new .title, #highlight .title {
  color: #fc9cb2;
  margin-bottom: 5px;
  letter-spacing: -0.02em;
  font-weight: 700; }

#new .title {
  width: 100%;
  font-size: 3rem;
  line-height: 1; }
  @media screen and (max-width: 749px) {
    #new .title {
      font-size: 2.4rem;
      text-align: center; } }

#highlight .title {
  font-size: 2.5rem; }
  @media screen and (max-width: 749px) {
    #highlight .title {
      font-size: 5.87vw;
      text-align: center; } }

.type {
  font-weight: 700;
  margin-bottom: 10px; }
  .type.pair {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    @media screen and (max-width: 749px) {
      .type.pair {
        justify-content: center; } }

#new .type {
  width: 100%;
  font-size: 2.4rem;
  text-align: right; }
  @media screen and (max-width: 749px) {
    #new .type {
      font-size: 2rem;
      text-align: center; } }

#highlight .type {
  font-size: 2rem;
  text-align: right; }
  @media screen and (max-width: 749px) {
    #highlight .type {
      font-size: 1.6rem;
      text-align: center; } }

.desc {
  flex-grow: 1;
  font-weight: 400; }

#new .desc {
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 20px; }
  @media screen and (max-width: 749px) {
    #new .desc {
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin-bottom: 10px; } }

#highlight .desc {
  font-size: 1.6rem;
  line-height: 2.4rem; }
  @media screen and (max-width: 749px) {
    #highlight .desc {
      font-size: 1.2rem;
      line-height: 1.8rem; } }

@media screen and (max-width: 749px) {
  .trial {
    text-align: center;
    margin: 0 auto; } }

/* past */
#past .accordion-area {
  width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 749px) {
    #past .title {
      font-size: 1.8rem;
      line-height: 2.8rem; } }

#past .box ul li {
  border: 2px solid #f6e0ec;
  width: 15.09%;
  margin-right: 1.89%; }
  @media screen and (max-width: 749px) {
    #past .box ul li {
      width: 23.44%;
      margin-right: 2.08%; }
    #past .box ul li:nth-child(4n) {
      margin-right: 0; } }

