@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Work+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

/*  ===============
    GLOBAL SETTINGS
    =============== */
:root {
  --background-color: #ffffff;
  --primary-text: #222222;
  --secondary-text: #7c726c;

  --header-color: #fbf3f5;
  --stripe-color: #f8e4e9;

  /* --primary-color: #f6e0ec;
  --secondary-color: #e0e1f6;
  --tertiary-color: #e0ecf6;
  --contrast: #f5d1dc; */

  --primary-color: #f8e4e9;
  --secondary-color: #e9e2ef;
  --tertiary-color: #e0ecf6;
  --contrast: #ffb4ca;
  --high-contrast: #d18594;
}

html {
  width: 100%;
  height: auto;
  font-size: 60%;
  overflow-y: scroll;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--secondary-text);
}

a:visited {
  color: var(--secondary-text);
}

a:hover {
  color: var(--contrast);
  text-decoration: underline;
}

.mo_only {
  display: none !important;
}

body {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--font);
  text-size-adjust: 100%;
  -webkit-texe-size-adjust: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 97;
  width: 100%;
  padding: 10px 0;
  background-color: var(--background-color);
  background: repeating-linear-gradient(135deg, var(--header-color), var(--header-color) 10px, var(--stripe-color) 15px, var(--stripe-color) 20px);
  border-bottom: 5px solid var(--contrast);
  /* border-image: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color), var(--tertiary-color) 100%); */
  border-image-slice: 1;
  margin-bottom: 10px;
}

#header {
  width: 95%;
  margin: 0 auto;
}

#header .logo {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

/*  ===============
    MENU SETTINGS
    =============== */
.menu-circle {
  background-size: auto auto;
  background: 5px solid var(--primary-color);
  background-image: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 100%);
  border-radius: 50%;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 99;
  margin-left: 90%;
}

.menu {
  height: 12px;
  position: absolute;
  right: 8px;
  top: 22px;
  width: 34px;
  z-index: 100;
  cursor: pointer;
}

.menu-line {
  background: #fff;
  display: block;
  height: 2px;
  position: absolute;
  transition: transform .3s;
  width: 80%;
}

.menu-line--bottom {
  bottom: 0;
}

.menu-line--top.active {
  top: 4px;
  transform: rotate(45deg);
  background: #fff;
}

.menu-line--bottom.active {
  bottom: 6px;
  transform: rotate(135deg);
  background: #fff;
}

.gnav {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: -10px;
  z-index: 98;
  overflow: hidden;

  background-size: auto auto;
  background-color: var(--background-color);
  background: repeating-linear-gradient(135deg, var(--header-color), var(--header-color) 10px, var(--stripe-color) 15px, var(--stripe-color) 20px);

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gnav::-webkit-scrollbar {
  display: none;
}

.gnav-wrap {
  margin: 0 auto;
  width: 510px;
}

.gnav-wrap .gnav-logo {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
}

.gnav-wrap h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 0 0 3px;
}

.gnav-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.gnav-menu li {
  background: 5px solid var(--primary-color);
  background-image: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 100%);
  padding: 2px;
  margin: 5px;
  height: 56px;
  font-size: 2rem;
  text-align: center;
}

.gnav-menu li a {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.gnav-menu li a.row2 {
  flex-direction: column;
}

.gnav-menu li a:hover {
  background-color: var(--contrast);
  color: #fff;
  text-decoration: none;
}

.gnav-menu li a em {
  font-size: 0.75em;
  font-style: normal;
}

.gnav-menu li.tlr-c {
  border-radius: 10px 10px 0 0;
}

.gnav-menu li.tlr-c a {
  border-radius: 8px 8px 0 0;
}

.gnav-menu li.tl-c {
  border-radius: 10px 0 0 0;
}

.gnav-menu li.tl-c a {
  border-radius: 8px 0 0 0;
}

.gnav-menu li.tr-c {
  border-radius: 0 10px 0 0;
}

.gnav-menu li.tr-c a {
  border-radius: 0 8px 0 0;
}

.gnav-menu li.bl-c {
  border-radius: 0 0 0 10px;
}

.gnav-menu li.bl-c a {
  border-radius: 0 0 0 8px;
}

.gnav-menu li.br-c {
  border-radius: 0 0 10px 0;
}

.gnav-menu li.br-c a {
  border-radius: 0 0 8px 0;
}

.gnav-menu li.blr-c {
  border-radius: 0 0 10px 10px;
}

.gnav-menu li.blr-c a {
  border-radius: 0 0 8px 8px;
}

.gnav-menu li.col1 {
  width: 100%;
}

.gnav-menu li.col2 {
  width: 48%;
}

.gnav-menu li.col3 {
  width: 31.3333%;
}

.horizontal-menu {
  width: 100%;
  position: relative;
  color: var(--secondary-text);
}

.horizontal-menu ul {
  display: flex;
  justify-content: center;
}

.horizontal-menu li.bow {
  display: block;
  width: 14px;
  height: 9px;
  transform: translateY(10px);
  background: url("../img/bow.svg") no-repeat;
  background-size: contain;
  margin: 0 10px;
}

.horizontal-menu li i {
  padding-left: 0.5em;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
}

.horizontal-menu a {
  display: block;
  padding: 5px 20px;
}

.horizontal-menu .item:hover>a {
  background: #f5d1dc;
  border-radius: 40px;
  color: #222;
  text-decoration: none;
}

.horizontal-menu .item:hover>a i {
  transform: scaleY(-1) translateY(0.25em);
}

.horizontal-menu .post_menu>li>a {
  /* child item style */
  font-size: 1.6rem;
}

.horizontal-menu .post_menu>li>a:hover {
  /* child item style (hover) */
  background: var(--contrast);
  border-radius: 40px;
}

.horizontal-menu .post_menu {
  /* lower menu style */
  width: 100%;
  position: absolute;
  top: 100%;
  /* below parent item */
  left: 0;
  padding: 15px;
  color: var(--secondary-text);
  /* text */
  background-size: auto auto;
  background-color: #fff;
  background: repeating-linear-gradient(135deg, var(--header-color), var(--header-color) 10px, var(--stripe-color) 15px, var(--stripe-color) 20px);
  border-bottom: 5px solid var(--contrast);
  /* border-image: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 100%); */
  border-image-slice: 1;
  visibility: hidden;
  /* hide lower menu */
  z-index: 98;
}

.horizontal-menu .item:hover .post_menu {
  /* show lower menu on parent hover */
  visibility: visible;
  /* don't show horizontal menu on smaller windows */
}

.horizontal-menu .post_menu a:hover {
  color: #222;
  text-decoration: none;
}

@media (max-width: 749px) {
  .pc_only {
    display: none !important;
  }

  .mo_only {
    display: block !important;
  }

  #header .sns_btn.top {
    display: none;
  }

  .menu-circle {
    width: 55px;
    height: 55px;
    margin-right: 4px;
  }

  .menu {
    width: 29px;
    top: 20px;
  }

  .gnav-menu li {
    margin: 1%;
    font-size: 1.4rem;
    height: 42px;
    line-height: 1;
  }

  .horizontal-menu {
    display: none;
  }
}

@media (min-width: 750px) and (max-width: 1120px) {
  .horizontal-menu {
    display: none;
  }
}

/*  ===============
    MAIN SETTINGS
    =============== */
main {
  padding-top: clamp(80px, 140px, 158px);
}

.section-title {
  font-size: 2rem;
  color: var(--secondary-text);
  letter-spacing: 0;
  line-height: 1.2;
  align-items: center;
  text-align: center;
  padding: 30px 0;
}

.newmark {
  position: relative;
  overflow: hidden;
}

.newmark::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  right: -50px;
  background: linear-gradient(to left, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  transform: rotate(45deg);
  z-index: 2;
}

.newmark:after {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  color: #fff;
  content: "CMS";
  font-size: 1.6rem;
  position: absolute;
  top: 12px;
  right: 4px;
  transform: rotate(45deg);
  z-index: 3;
}

@media (max-width: 749px) {
  .section-title {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .newmark::before {
    width: 80px;
    height: 80px;
    top: -40px;
    right: -40px;
  }

  .newmark:after {
    font-size: 1.4rem;
    top: 10px;
    right: 3px;
  }
}

/*  ===============
    FOOTER SETTINGS
    =============== */
#footer {
  font-size: clamp(1.25vw, 1.4rem, 3.2vw);
  line-height: 1.6;
}

#footer .copyright {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 30px;
}

/*  ===============
    HOME PAGE
    =============== */
#top {
  position: relative;
  width: 100%;
  margin: 0 auto clamp(30px, 5%, 60px);
}

#top .top-cover {
  width: 1060px;
  margin: 0 auto;
  justify-content: center;
}

@media (min-width: 750px) and (max-width: 1120px) {
  #top .top-cover {
    width: 700px;
  }
}

@media (max-width: 749px) {
  #top .top-cover {
    width: 100%;
  }
}

#newstopic {
  width: 100%;
  background-color: var(--secondary-color);
}

#feature-area {
  position: relative;
  margin-bottom: -145px;
  display: flex;
  gap: 60px;
}

#feature-area .media_box {
  width: 500px;
  margin: 50px auto;
  position: relative;
}

#feature-area .media_box p {
  margin: 0 auto;
}

#feature-area .media_box.ch {
  background: var(--contrast);
}

#feature-area .media_box.lib {
  background: #ffeb99;
  display: flex;
  align-items: center;
}

#feature-area .media_box::before,
#feature-area .media_box::after {
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  content: "";
}

#feature-area .media_box.ch::before {
  border-bottom: solid 30px var(--contrast);
  border-right: solid 30px transparent;
  bottom: 100%;
}

#feature-area .media_box.ch::after {
  border-top: solid 30px var(--contrast);
  border-left: solid 30px transparent;
  top: 100%;
}

#feature-area .media_box.lib::before {
  border-bottom: solid 30px #ffeb99;
  border-right: solid 30px transparent;
  bottom: 100%;
}

#feature-area .media_box.lib::after {
  border-top: solid 30px #ffeb99;
  border-left: solid 30px transparent;
  top: 100%;
}


@media (min-width: 750px) and (max-width: 1120px) {
  #feature-area {
    gap: 5.66vw 0;
  }

  #feature-area .media_box {
    width: 47.17vw;
  }
}

@media (max-width: 749px) {
  #feature-area {
    gap: 2.66% 0;
  }

  #feature-area .media_box {
    width: 48.67%;
  }

  #feature-area .media_box.ch::before {
    border-bottom: solid 20px var(--contrast);
    border-right: solid 20px transparent;
  }

  #feature-area .media_box.ch::after {
    border-top: solid 20px var(--contrast);
    border-left: solid 20px transparent;
  }

  #feature-area .media_box.lib::before {
    border-bottom: solid 20px #ffeb99;
    border-right: solid 20px transparent;
  }

  #feature-area .media_box.lib::after {
    border-top: solid 20px #ffeb99;
    border-left: solid 20px transparent;
  }
}

#feature-area .thumb-area {
  margin: 0 auto;
  text-align: center;
  color: var(--secondary-text)
}

#feature-area .thumb-area .logo {
  padding-top: 10px;
}

#feature-area .thumb-area .thumb {
  position: relative;
  background-color: #fff;
  width: 440px;
  border: 2px solid #fff;
  padding: 0;
  font-size: 0;
  overflow: hidden !important;
}

#feature-area .thumb-area .thumb img {
  transition: .3s;
}

#feature-area .thumb-area .thumb img:hover {
  transform: scale(1.1);
}

#feature-area .thumb-area .thumb::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  background: transparent;
  background-size: contain;
  pointer-events: none;
}

#feature-area .bg-img img {
  width: 500px;
}

@media (min-width: 750px) and (max-width: 1120px) {
  #feature-area .thumb-area .thumb {
    width: 39.29vw;
  }
}

@media (max-width: 749px) {
  #feature-area .thumb-area {
    width: 90%;
  }

  #feature-area .thumb-area .thumb {
    width: 100%;
  }

  #feature-area .thumb-area .thumb img:hover {
    transform: none;
  }

  #feature-area .thumb-area .thumb::after {
    width: 40px;
    height: 40px;
  }

  #feature-area .bg-img img {
    width: 50%;
  }
}

#lineup {
  width: 100%;
  background-color: var(--header-color);
  padding-top: 145px;
}

#lineup h1 {
  text-align: center;
  padding-top: 30px;
}

#lineup .slider-area {
  max-width: 100%;
  margin: 0 auto 30px;
  padding: 30px 0 60px;
  overflow: hidden;
}

#lineup .slick-slide {
  border: 10px solid #fff;
  box-shadow: 0 0 4px #ccc;
  margin: 0 10px;
  transition: .3s;
}

#lineup .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 !important;
}

#lineup .slick-slide:hover {
  transform: scale(1.1);
}

#lineup .slick-list {
  overflow: visible;
}

@media (min-width: 750px) and (max-width: 1120px) {
  #lineup .slick-slide {
    border-width: 0.89vw;
    margin: 0 0.89vw;
  }
}

@media (max-width: 749px) {
  #lineup h1 {
    width: 82.12%;
    margin: 0 auto;
  }

  #lineup .slick-slide {
    border-width: 1.33vw;
    margin: 0 1.33vw;
  }
}

/*  ===============
    WORK PAGE
    =============== */
#projects h2.heading .date {
  font-size: 0.75em;
  font-family: "Bitter", serif;
  font-weight: 500;
}

#arrival #new,
#arrival #highlight {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

#arrival .box {
  width: 48.58%;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

#arrival .box:nth-child(2n+1) {
  margin-right: 2.84%;
}

#arrival .box:nth-child(n+3) {
  margin-top: 20px;
}

@media (max-width: 749px) {

  #arrival #new,
  #arrival #highlight {
    margin-bottom: 30px;
  }

  #arrival .box {
    width: 100%;
  }

  #arrival .box:nth-child(2n+1) {
    margin-right: 0;
  }

  #arrival .box:nth-child(n+3) {
    margin-top: 0px;
  }

  #arrival .box:nth-child(n+2) {
    margin-top: 20px;
  }
}

.preview {
  border: 2px solid var(--primary-color);
  -webkit-border-image: -webkit-linear-gradient(top left, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  -o-border-image: -o-linear-gradient(top left, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  border-image: linear-gradient(to bottom right, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  border-image-slice: 1;
}

#new .preview {
  width: 47.57%;
  margin-right: 3.88%;
}

#highlight .preview {
  width: 36.89%;
  margin-right: 3.88%;
}

#new .detail {
  width: calc(100% - 51.45%);
}

#highlight .detail {
  width: calc(100% - 40.77%);
}

@media (max-width: 749px) {
  #new .preview {
    width: 59.03%;
    margin: 0 auto 10px;
  }

  #highlight .preview {
    width: 32.99%;
    margin-right: 3.47%;
  }

  #new .detail {
    width: 100%;
  }

  #highlight .detail {
    width: calc(100% - 36.46%);
  }
}

#new .title,
#highlight .title {
  color: var(--contrast);
  margin-bottom: 5px;
  letter-spacing: -0.02em;
  font-weight: 600;
  width: 100%;
  font-size: 3rem;
}

#new .title span,
#highlight .title span {
  font-size: 0.6em;
}

#new .title em,
#highlight .title em {
  font-style: normal;
  margin-left: 0.25em;
}

.type {
  font-weight: 600;
  margin-bottom: 10px;
}

.type span {
  font-size: 0.75em;
}

#new .type {
  width: 100%;
  font-size: 2.4rem;
  text-align: right;
}

#highlight .type {
  font-size: 2rem;
  text-align: right;
}

.desc {
  flex-grow: 1;
  font-weight: 400;
}

#new .desc {
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 20px;
}

#highlight .desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media (min-width: 750px) and (max-width: 1120px) {
  #new .type {
    font-size: 2.4rem;
  }

  #highlight .type {
    font-size: 2rem;
  }

  #new .desc {
    font-size: 1.8rem;
  }

  #highlight .desc {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 749px) {
  #new .title {
    font-size: 2.5rem;
    text-align: center;
  }

  #highlight .title  {
    font-size: 2.5rem;
  }

  #new .type {
    font-size: 2rem;
    text-align: center;
  }

  #highlight .type {
    font-size: 1.6rem;
  }

  #new .desc {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 10px;
    text-align: center;
  }

  #highlight .desc {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  #new .trial {
    text-align: center;
  }
}

/* past */
/* an accordion style list */
#past .accordion-area {
  width: 100%;
  margin: 0 auto;
}

#past .accordion-area>li {
  margin: 0 0 20px;
}

#past .title {
  position: relative;
  cursor: pointer;
  background-color: rgba(248, 228, 233, 0.6);
  border-radius: 0 2.1rem 2.1rem 0;
  font-size: 2.2rem;
  line-height: 4.2rem;
  font-weight: 500;
  padding: 0 0 0 1em;
  margin-bottom: 1em;
  transition: all .5s ease;
}

#past .title::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f0da ";
  font-weight: 900;
  position: absolute;
  font-size: 2rem;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--contrast);
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
}

#past .title::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f078 ";
  font-weight: 900;
  position: absolute;
  font-size: 2rem;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--contrast);
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
}

#past .title.close::after {
  content: "\f077";
  -webkit-font-smoothing: antialiased;
}

#past .box {
  display: none;
  /* hide initially */
  margin-bottom: 20px;
}

#past .box ul {
  display: flex;
  flex-wrap: wrap;
}

#past .box ul li {
  border: 2px solid var(--primary-color);
  -webkit-border-image: -webkit-linear-gradient(top left, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  -o-border-image: -o-linear-gradient(top left, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  border-image: linear-gradient(to bottom right, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  border-image-slice: 1;
  width: 15.09%;
  margin-right: 1.89%;
}

#past .box ul li:nth-child(6n) {
  margin-right: 0;
}

#past .box ul li:nth-child(n+7) {
  margin-top: 10px;
}

#past .box ul li.shape {
  border: none;
}

#past .box ul li.shape img {
  border: 2px solid var(--primary-color);
  -webkit-border-image: -webkit-linear-gradient(top left, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  -o-border-image: -o-linear-gradient(top left, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  border-image: linear-gradient(to bottom right, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  border-image-slice: 1;
}

@media (max-width: 749px) {
  #past .title {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  #past .title::before {
    font-size: 1.6rem;
  }

  #past .title::after {
    font-size: 1.6rem;
  }

  #past .box ul li {
    border-width: 1px;
    width: 23.44%;
    margin-right: 2.08%;
  }

  #past .box ul li:nth-child(6n) {
    margin-right: 1.89%;
  }

  #past .box ul li:nth-child(4n) {
    margin-right: 0;
  }

  #past .box ul li:nth-child(n+5) {
    margin-top: 10px;
  }
}

/*  ===============
    RESEARCH PAGE
    =============== */
.p-header {
  display: flex;
  flex-wrap: wrap;
}

.p-header .l-col {
  width: 340px;
  margin-right: 40px;
}

.p-header .r-col {
  width: 680px;
}

.p-header .cover {
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4));
}

.p-header .issue {
  font-size: 2.7rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.p-header .issue p:first-child {
  padding-right: 8px;
}

.p-header .issue p:nth-child(2) {
  font-feature-settings: "palt";
}

.p-header .issue span {
  font-size: 0.75em;
}

.p-header .issue .month {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--contrast);
  margin-right: 5px;
}

.p-header .issue .month em {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60px;
  text-align: center;
}

@media (min-width: 750px) and (max-width: 1120px) {
  .p-header .l-col {
    width: 32.08%;
    margin-right: 3.77%;
  }

  .p-header .r-col {
    width: 64.15%;
  }

  .p-header .issue .month {
    width: 50px;
    height: 50px;
  }

  .p-header .issue .month em {
    width: 50px;
  }
}

@media (max-width: 749px) {
  .p-header {
    flex-direction: column;
    justify-content: center;
  }

  .p-header .l-col {
    width: 100%;
    justify-content: center;
  }

  .p-header .r-col {
    width: 100%;
  }

  .p-header .cover {
    margin: 0 auto 10px;
    width: 83.33%;
  }

  .p-header .issue {
    font-size: 2.5rem;
    flex-direction: column;
    justify-content: center;
  }

  .p-header .issue p {
    padding: 0 0 5px;
  }

  .p-header .issue .month {
    width: 50px;
    height: 50px;
  }

  .p-header .issue .month em {
    width: 50px;
  }
}

.col-1, .col-1_s {
  margin-bottom: 60px;
}

.col-2, .col-3 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

@media (max-width: 749px) {
  .col-1, .col-1_s {
    margin-bottom: 30px;
  }

  .col-2, .col-3 {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.col-3 a.btn {
  font-size: 1.5rem;
}

.col-3 a.btn-flat {
  padding: 0.5rem 1.5rem;
}

.col-3 a.btn-flat::before {
  left: calc(-150% + 55px);
}

.col-3 a.btn-flat::after {
  right: calc(-150% + 55px);
}

@media (min-width: 750px) and (max-width: 1120px) {
  .col-3 a.btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: var(--tertiary-color) solid 2px;
  }

  .col-3 a.btn-flat:hover {
    color: #222;
  }

  .col-3 a.btn-flat::before {
    content: none;
  }

  .col-3 a.btn-flat::after {
    content: none;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col-2 .box {
  width: 48.58%;
}

.col-2 .box:nth-child(2n+1) {
  margin-right: 2.84%;
}

.col-2 .box:nth-child(n+3) {
  margin-top: 20px;
}

.col-3 .box {
  width: 31.51%;
}

.col-3 .box:not(:nth-child(3n)) {
  margin-right: 2.735%;
}

.col-3 .box:nth-child(n+4) {
  margin-top: 20px;
}

@media (max-width: 749px) {
  .col-1 .box {
    flex-direction: column;
  }

  .col-2 .box,
  .col-3 .box {
    width: 100%;
  }

  .col-2 .box:nth-child(2n+1),
  .col-3 .box:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .col-2 .box:nth-child(n+3),
  .col-3 .box:nth-child(n+4) {
    margin-top: 0px;
  }

  .col-2 .box:nth-child(n+2) {
    margin-top: 20px;
  }
}

.col-1 .box .detail {
  width: 54.72%;
}

.col-1_s .box .detail {
  width: 100%;
}

.col-2 .box .detail {
  width: 57.28%;
}

.col-3 .box .detail {
  width: 52.1%;
}

@media (max-width: 749px) {
  .col-1 .box .detail {
    width: 100%;
  }

  .col-2 .box .detail,
  .col-3 .box .detail {
    width: 61.28%;
  }
}

.pict {
  border: 2px solid var(--primary-color);
  -webkit-border-image: -webkit-linear-gradient(top left, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  -o-border-image: -o-linear-gradient(top left, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  border-image: linear-gradient(to bottom right, var(--primary-color) 0%, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  border-image-slice: 1;
}

.pict.circle {
  border-radius: 400px;
  border: none;
}

.col-1 .box .pict {
  width: 42.45%;
  margin-right: 2.83%;
}

.col-1_s .box .pict {
  background-color: #f6f5e0;
  width: 18.87%;
  margin-right: 1.89%;
}

.col-2 .box .pict {
  background-color: #f6f5e0;
  width: 38.83%;
  margin-right: 3.88%;
}

.col-3 .box .pict {
  background-color: #f6f5e0;
  width: 44.91%;
  margin-right: 2.99%;
}

@media (max-width: 749px) {
  .col-1 .box .pict {
    width: 111.11%;
    max-width: none;
    margin-left: -5.555%;
    margin-bottom: 20px;
    border: none;
  }

  .col-1_s .box .pict,
  .col-2 .box .pict,
  .col-3 .box .pict {
    width: 34.72%;
    margin-right: 3.47%;
  }
}

.p-type {
  color: var(--contrast);
}

.p-type span {
  font-size: 0.75em;
}

.col-1 .p-type {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 0;
  line-height: 1.2;
  align-items: center;
}

.col-1 .p-type span {
  letter-spacing: 0;
}

.col-2 .p-type,
.col-1_s .p-type {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
}

.col-3 .p-type {
  font-weight: 700;
  font-size: 2.2rem;
}


@media (min-width: 750px) and (max-width: 1120px) {
  .col-2 .p-type,
  .col-1_s .p-type {
    font-size: 2rem;
  }

  .col-3 .p-type {
    font-size: 1.7rem;
  }
}

@media (max-width: 749px) {
  .col-1 .p-type {
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .col-1_s .p-type,
  .col-2 .p-type,
  .col-3 .p-type {
    font-size: 2.2rem;
  }
}

.tag {
  font-weight: 700;
}

.tag span {
  font-size: 0.75em;
}

.col-1 .tag {
  font-size: 2.5rem;
}

.col-2 .tag,
.col-1_s .tag {
  font-size: 2rem;
}

.col-3 .tag {
  font-size: 1.8rem;
}

@media (min-width: 750px) and (max-width: 1120px) {
  .col-2 .tag,
  .col-1_s .tag {
    font-size: 1.8rem;
  }

  .col-3 .tag {
    font-size: 1.5rem;
  }
}

@media (max-width: 749px) {
  .col-1 .tag {
    font-size: 2rem;
  }

  .col-2 .tag,
  .col-1_s .tag {
    font-size: 1.8rem;
  }

  .col-3 .tag {
    font-size: 1.8rem;
  }
}

.desc {
  flex-grow: 1;
}

.col-1 .desc {
  font-size: 1.8rem;
}

.col-2 .desc {
  font-size: 1.6rem;
}

.col-3 .desc {
  font-size: 1.6rem;
}

@media (max-width: 749px) {
  .col-1 .desc {
    font-size: 1.4rem;
  }

  .col-2 .desc {
    font-size: 1.4rem;
  }

  .col-3 .desc {
    font-size: 1.4rem;
  }
}

.status {
  background-color: var(--contrast);
  display: inline-block;
  color: #fff;
  border-radius: 40px;
  padding: 0.1em 0.5em 0.2em;
  margin-bottom: 5px;
}

.col-1 .status {
  font-size: 2rem;
}

.col-2 .status,
.col-1_s .status {
  font-size: 1.8rem;
}

@media (max-width: 749px) {
  .col-1 .status {
    font-size: 1.8rem;
  }

  .col-2 .status,
  .col-1_s .status {
    font-size: 1.6rem;
  }
}
