/* utility */
/* margin, padding, font size
-----------------------------------------------------*/
.fa-color {
    color: #ffa3ac; }
  
  .ffs-palt {
    font-feature-settings: "palt"; }
  
  .mt00 {
    margin-top: 0 !important; }
  
  .mt05 {
    margin-top: 5px !important; }
  
  .mt10 {
    margin-top: 10px !important; }
  
  .mt20 {
    margin-top: 20px !important; }
  
  .mt30 {
    margin-top: 30px !important; }
  
  .mt60 {
    margin-top: 60px !important; }
  
  .mb00 {
    margin-bottom: 0 !important; }
  
  .mb05 {
    margin-bottom: 5px !important; }
  
  .mb10 {
    margin-bottom: 10px !important; }
  
  .mb20 {
    margin-bottom: 20px !important; }
  
  .mb30 {
    margin-bottom: 30px !important; }
  
  .mb60 {
    margin-bottom: 60px !important; }
  
  .pt05 {
    padding-top: 5px !important; }
  
  .pt10 {
    padding-top: 10px !important; }
  
  .pt20 {
    padding-top: 20px !important; }
  
  .pt30 {
    padding-top: 30px !important; }
  
  .pt60 {
    padding-top: 60px !important; }
  
  .pb00 {
    padding-bottom: 0 !important; }
  
  .pb05 {
    padding-bottom: 5px !important; }
  
  .pb10 {
    padding-bottom: 10px !important; }
  
  .pb20 {
    padding-bottom: 20px !important; }
  
  .pb30 {
    padding-bottom: 30px !important; }
  
  .pb60 {
    padding-bottom: 60px !important; }
  
  .ml05 {
    margin-left: 05px !important; }
  
  .ml10 {
    margin-left: 10px !important; }
  
  .ml20 {
    margin-left: 20px !important; }
  
  .ml30 {
    margin-left: 30px !important; }
  
  .ml60 {
    margin-left: 60px !important; }
  
  .mr10 {
    margin-right: 10px !important; }
  
  .mr20 {
    margin-right: 20px !important; }
  
  .mr30 {
    margin-right: 30px !important; }
  
  .mr60 {
    margin-right: 60px !important; }
  
  .pl05 {
    padding-left: 5px !important; }
  
  .pl10 {
    padding-left: 10px !important; }
  
  .pl20 {
    padding-left: 20px !important; }
  
  .pl30 {
    padding-left: 30px !important; }
  
  .pl60 {
    padding-left: 60px !important; }
  
  .pr05 {
    padding-right: 5px !important; }
  
  .pr10 {
    padding-right: 10px !important; }
  
  .pr20 {
    padding-right: 20px !important; }
  
  .pr30 {
    padding-right: 30px !important; }
  
  .pr60 {
    padding-right: 60px !important; }
  
  .f12 {
    font-size: 1.2rem; }
  
  .f14 {
    font-size: 1.4rem; }
  
  .f18 {
    font-size: 1.8rem; }
  
  .f20 {
    font-size: 2rem; }
  
  .f22 {
    font-size: 2.2rem; }
  
  .f24 {
    font-size: 2.4rem; }
  
  .txt_center {
    text-align: center; }
  
  .center {
    margin: 0 auto;
    text-align: center; }
  
  .left {
    text-align: left; }
  
  .newmark {
    position: relative;
    overflow: hidden; }
    .newmark::before {
      content: "";
      width: 100px;
      height: 100px;
      position: absolute;
      top: -50px;
      right: -50px;
      background: linear-gradient(to left, #f6e0ec 0%, #e0e1f6 0%, #e0ecf6 100%);
      transform: rotate(45deg);
      z-index: 2; }
      @media screen and (max-width: 749px) {
        .newmark::before {
          width: 80px;
          height: 80px;
          top: -40px;
          right: -40px; } }
    .newmark:after {
      font-family: 'Comfortaa', cursive;
      font-weight: 700;
      color: #fff;
      content: "New";
      font-size: 1.6rem;
      position: absolute;
      top: 12px;
      right: 4px;
      transform: rotate(45deg);
      z-index: 3; }
      @media screen and (max-width: 749px) {
        .newmark:after {
          font-size: 1.4rem;
          top: 10px;
          right: 3px; } }
  
  .text-narrow {
    transform: scale(0.9, 1);
    transform-origin: top left; }
  
  .emoji {
    transform: translateY(0.75em); }
    @media screen and (max-width: 749px) {
      .emoji {
        transform: translateY(1em); } }
  
  .cond {
    transform: scale(0.8, 1);
    transform-origin: 0 0;
    width: 125%; }